.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
}

.input {
  width: 50%;
  height: 20px;
}
.form_btn {
  max-width: 100px;
  padding: 2px 4px;
  margin-top: 10px;
  border-radius: 5px;
}
