.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn {
  background-color: white;
  height: 40px;
  font-size: 20px;
  border: 2px solid #383d39;
  border-radius: 4px;
  color: #383d39;
}
.btn:hover,
.btn:focus {
  background-color: #00FFFF;
}
.text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
